@model Librarian



<partial name="Notification"></partial>
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Forms</h5>
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        <div class="mb-3">
                            <label class="form-label">Librarian User ID</label>
                            <input type="text" class="form-control" asp-for="LibrarianId" >

                        </div>
                        <div class="mb-3">
                            <label class="form-label">Librarian Password</label>
                            <input type="text" class="form-control" asp-for="password" >

                        </div>
                        <div class="mb-3">
                            <label class="form-label">First Name</label>
                            <input type="text" class="form-control" asp-for="FirstName">


                        </div>
                        <div class="mb-3">
                            <label class="form-label">Last Name</label>
                            <input type="text" class="form-control" asp-for="LastName">

                        </div>
                        

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="py-6 px-6 text-center">
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/ajax/javascript.js"></script>
