

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
<form method="post">
    <div class="form-group">
        <label >Assignment Name</label>
        <input type="email" class="form-control">
    </div>
    <br />
    <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label for="exampleFormControlInput1">Assigned Date</label>
                            <input type="date" class="form-control" placeholder="First name">
                        </div>
                        <div class="col">
                            <label for="exampleFormControlInput1">Submission Date</label>
                            <input type="date" class="form-control" placeholder="Last name">
                        </div>
                    </div>
    </div>
    <br />
    
    <div class="form-group">
        <label for="exampleFormControlFile1">Upload File</label>
        <input type="file" class="form-control" id="exampleFormControlFile1">
    </div>
                <div class="mb-3">
                    <label class="form-label">Select Class </label>
                    <select class="form-control" id="FetchAllClasses">
                    </select>

                </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>
</div>
</div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/ajax/javascript.js"></script>