@model Book

<partial name="Notification"></partial>
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Forms</h5>
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        <div class="mb-3">
                            <label class="form-label">Book Title</label>
                            <input type="text" class="form-control" asp-for="Title">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Author Name</label>
                            <input type="text" class="form-control" asp-for="AuthorName">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">ISBN Number</label>
                            <input type="text" class="form-control" asp-for="ISBN" >
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Publish Date</label>
                            <input type="date" class="form-control" asp-for="PublishedDate" >
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Number of Copies</label>
                            <input type="text" class="form-control" asp-for="NumberofCopies">
                        </div>
                        




                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="py-6 px-6 text-center">
    </div>
</div>
