@model User 


<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SeoDash Free Bootstrap Admin Template by Adminmart</title>
    <link rel="shortcut icon" type="image/png" href="../assets/images/logos/seodashlogo.png" />
    <link rel="stylesheet" href="../assets/css/styles.min.css" />
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0">
                            <div class="card-body">
                                <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                    <img src="~/images/Pinnacle.png" width="200" height="100" alt="">
                                </a>
                                <p class="text-center">Reaching New Heights Together</p>
@* <form method="post">
    <div class="form-group">
        <label for="exampleInputEmail1"> Enter UserId</label>
        <input type="text" class="form-control" asp-for="UserId" placeholder="Enter email">
        
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" asp-for="Password" placeholder="Password">
    </div>
    
</form>
 *@                              <form method="post">
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">User ID</label>
                                        <input type="text" class="form-control" asp-for="UserId" id="exampleInputEmail1" aria-describedby="emailHelp">
                                    </div>
                                    <div class="mb-4">
                                        <label for="exampleInputPassword1" class="form-label">Password</label>
                                        <input type="password" class="form-control" asp-for="Password" id="exampleInputPassword1">
                                    </div>
                                    <button type="submit" class="btn btn-primary  w-100 py-8 fs-4 mb-4">Submit</button>
@*                                     <div class="d-flex align-items-center justify-content-center">
                                        <p class="fs-4 mb-0 fw-bold">New to SeoDash?</p>
                                        <a class="text-primary fw-bold ms-2" href="./authentication-register.html">Create an account</a>
                                    </div>
 *@                              </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>